@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Hammersmith+One&display=swap');
  


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.brand-logo {
  font-family: caprasimo;
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 10px;
}

 /* form label color */
 .input-field label {
    color: #3f51b5;
  }

footer{
  background-color: #3f51b5;

}
  footer p {
    text-align: center;
    text-transform: none;
    font-size: 1.3em;
    color: #0c2f80;
    
}

.social-network {
    text-align: center;
}

.social-network li {
    display: inline;
}

.social-network i {
    margin: 13px;
    padding-left: 15px;
    color: #0c2f80;
    font-weight: bold;
    font-size: 2em;
}

.btn-small{
  float: right;
}