{% extends "base.html" %}

{% block content %}
  <h3 class="edit-journal">Edit Journal</h3>

  <form method="POST" id="edit_journal" action="{{ url_for('edit_journal', journal_id=journal._id) }}">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card-panel">
          <!-- Journal Name -->
          <div class="row">
            <div class="input-field col s6">
              <input id="journal_name" name="journal_name" type="text" class="validate" minlength="8" required value="{{ journal.journal_name }}">
              <label for="journal_name">Journal Name</label>
            </div>
          </div>

          <!-- Journal Entry -->
          <div class="row">
            <div class="input-field col s12">
              <textarea id="journal_entry" name="journal_entry" class="materialize-textarea" minlength="6" placeholder="Type your journal entry here">{{ journal.journal_entry }}</textarea>
              <label for="journal_entry">Journal Entry</label>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row">
            <div class="col s12">
              <button class="waves-effect waves-light btn  deep-purple lighten-4 indigo-text" type="submit" style="font-family: Hammersmith One;">Update Journal</button>
            </div>
      </div>
    </div>
  </form>
{% endblock %}