{% extends "base.html" %}
{% block content %}


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('new_journal') }}">
      <div class="card amber lighten-5">
        <div class="card-content indigo-text">
          <span class="card-title"><h3>New Journal</h3></span>

          <!--username-->
         <div class="row indigo-text">
            <div class="input-field col s6">
                <input  id="journal_name" name="journal_name" type="text" class="validate" minlength="8" required>
                <label for="journal_name">Journal Name</label>
              </div>
         </div>
       
         <!--password-->
        <div class="row">
            <div class="input-field col s6">
              <textarea id="new_entry" name="new_entry" minlength="6" placeholder="Type in here your new entry"></textarea>
            <label for="new_entry"></label>
            <button class="waves-effect waves-light btn-small deep-purple lighten-4" type="submit">
              <a class="indigo-text"><i class="fa fa-plus"></i></a>
            </button>
           
            </div>
          </div>
        </div>
       
      </div>
      </div>
    </form>
</div>
        
{% endblock %}